.selector-for-some-widget {
    box-sizing: content-box;
  }

body {
    background-color: grey;
}
h3 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    background-color: darkgray;
    color: whitesmoke;
}

h5 {
    text-align: center;
}

#count {
    float: center;
}

.col {
    text-align: center;
    border: solid white;

}

.col-6 {
    text-align: center;
    border: solid white;
    padding: 15px;
    margin: 30px;
}

#quizButtons {
    align: center;
    size: 20px;
    text-align: center;
    padding: 10px;
    border: solid yellowgreen;
    color: wheat;
}